/* ===== HERO SECTION ===== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 130px auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

/* Big Beautiful Card Style */
.hero-card {
  background-color: #ADCBBA;
  border-radius: 32px;
  padding: 45px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(4px);
  transition: transform 0.3s;
}

.hero-card:hover {
  transform: translateY(-5px);
}

/* Text Box */
.hero-text {
  width: 720px;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: 700;
  color: #596E65;
  line-height: 1.3;
}

.hero-text p {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.hero-text button {
  margin-top: 30px;
  background-color: #FDB581;
  color: white;
  padding: 14px 30px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.hero-text button:hover {
  transform: scale(1.04);
}

/* Image Box */
.hero-image {
  width: 330px;
}

.hero-image img {
  width: 100%;
  height: 350px;
  border-radius: 25px;
  object-fit: cover;
}


/* ===== SALE + CATEGORY SECTION COMMON STYLE ===== */

.sale-section,
.categories-section {
  display: flex;
  justify-content: center;
  /* margin: 100px auto; */
  padding: 0 20px;
}



.sale-box,
.categories-box {
  background-color: #FAE7CB;
  border-radius: 30px;
  width: 85%;
  padding: 50px;
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.15);
}

.sale-box h2,
.categories-box h2 {
  font-size: 32px;
  color: #596E65;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Container inside */
.sale-container,
.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 28px;
}

/* Each item card */
.sale-card,
.categories-card {
  background-color: #D4DEC5;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.sale-card:hover,
.categories-card:hover {
  transform: translateY(-6px);
}

.sale-card img,
.categories-card img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 12px;
}
