/* nav {
  display: flex;
  align-items: center;
  
  background-color: #596E65;
  
  position: fixed;
  top: 0;
  left: 0;
 
  
  
} */

/* Logo left */
/* nav .logo {
  display: flex;
  align-items: center;

} */

/* nav .logo img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
} */

/* nav .logo span {
  font-size: 24px;
  font-weight: bold;
  color: white;
} */

/* Sign in button */
/* .signin button {
  background-color: #F7D6E0;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
} */














/* 
.home a{
  text-decoration:none;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  margin-left: 300px;
}

.detail a{
  text-decoration:none;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  margin-left: 40px;
}

.contact a{
  text-decoration:none;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  margin-left: 40px;
}

.admin button{
  text-decoration:none;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  margin-left: 40px;
  align-items: center;
}

.search-buy{
  margin-left: 170px;
 
  border: none;
  
  padding:40px;
  align-items: center;
  
   
}

.profile button{
  margin-left: 100px;
  text-decoration:none;
  font-weight: 500;
  background: none;
  border: none;
} */